<script>
const colors = [
  '#1078E8', '#36E810', '#E810B2', '#E89910', '#943E7F',
  '#3C5169', '#C7292F', '#5188C6', '#EF7171', '#CDBDB8',
  '#3DEC90', '#84AEE9', '#9DD7E4', '#B23983', '#2FF0D4'
];
//import axios from "axios";
import shmaxios from "../../api/index.js";

import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend,
  BarElement,
  ArcElement
} from 'chart.js'
import { Line, Bar, Pie } from 'vue-chartjs'

ChartJS.register(
    CategoryScale,
    LinearScale,
    PointElement,
    LineElement,
    Title,
    Tooltip,
    Legend,
    BarElement,
    ArcElement
)
export default {
  name:'Index',
  components: {
    Line,
    Bar,
    Pie
  },
  data(){
    return {
      labels: [],
      data: []
    }
  },
  computed: {
    lineData(){
      return {
        labels: this.labels,
        datasets: [
          {
            label: 'Line chart',
            backgroundColor: '#1078E8',
            data: this.data
          },
          {
            label: 'Line chart2',
            backgroundColor: 'red',
            data: [12, 20, 21]
          }
        ]
      }
    },
    barData(){
      return {
        labels: this.labels,
        datasets: [
          {
            label: 'Bar chart',
            backgroundColor: '#E810B2',
            data: this.data
          }
        ]
      }
    },
    pieData(){

      return {
        labels: this.labels,
        datasets: [
          {
            label: 'Bar chart',
            backgroundColor: colors,
            data: this.data
          }
        ]
      }
    },
    chartOptions(){
      return {
        responsive: true,
        maintainAspectRatio: false,
        plugins:{
          legend:{
            position: 'bottom'
          }
        }
      }
    }
  },
  methods:{

  },
  mounted() {

    shmaxios.get('/transactions/chart')
        .then(res=>{
          this.labels = res.data.labels
          this.data = res.data.data
        })
  }
}
</script>

<template>

      <div>
        <div class="mb-20"><Line :data="lineData" :options="chartOptions" /></div>
        <div class="mb-20"><Bar :data="barData" :options="chartOptions" /></div>
        <div class="mb-20"><Pie :data="pieData" :options="chartOptions" /></div>
      </div>
-
</template>

<style scoped>

</style>