<script>

import shmaxios from "../../api/index.js";
//import axios from "axios";
import router from "../../router/index.js";
export default {
  data(){
    return{
      user: {},
      error: null
    }
  },
  methods:{
    login(){
      shmaxios.post('/login', this.user)
      .then((res) => {
        localStorage.setItem('access_token', res.data.access_token);
        window.dispatchEvent(new CustomEvent("accessToken", {
          detail: { access_token: res.data.access_token }
        }));
        router.push('/transactions');
      }).catch(res=>{
        this.error = res.response.data.error;
      });
    }
  }
}
</script>

<template>
  <div>
    <div class="mb-10">
      <input class="border border-b" type="text" v-model="user.email" placeholder="Email" />
    </div>
    <div class="mb-10">
      <input class="border border-b" type="password" v-model="user.password" placeholder="Пароль" />
    </div>
    <div class="mb-10">
      <a class="pl-5 pr-5 pt-2 pb-2 bg-blue" @click.prevent="login()" href="#" >Войти</a>
    </div>
    <div v-if="error" class="text-red">{{error}}</div>
  </div>

</template>

<style scoped>

</style>