<script>

import shmaxios from "../../api/index.js";
//import axios from "axios";
import router from "../../router/index.js";
export default {
  data(){
    return{
      user: {},
      errors: [],
      error: null
    }
  },
  methods:{
    register(){
      shmaxios.post('/users', this.user)
      .then((res) => {
            localStorage.setItem('access_token', res.data.access_token);
            window.dispatchEvent(new CustomEvent("accessToken", {
              detail: { access_token: res.data.access_token }
            }));
            router.push('/transactions');
      }).catch((res)=>{
        this.error = res.response.data.message;
        this.errors = res.response.data.errors;
      })
    }
  }
}
</script>

<template>
  <div>
    <div class="mb-10">
      <input class="border border-b block" type="text" v-model="user.name" placeholder="Имя" />
      <div v-if="errors.name" class="text-red mt-3">{{errors.name[0]}}</div>
    </div>
    <div class="mb-10">
      <input class="border border-b block" type="text" v-model="user.email" placeholder="Email" />
      <div v-if="errors.email" class="text-red mt-3">{{errors.email[0]}}</div>
    </div>
    <div class="mb-10">
      <input class="border border-b block" type="password" v-model="user.password" placeholder="Пароль" />
      <div v-if="errors.password" class="text-red mt-3">{{errors.password[0]}}</div>
    </div>
    <div class="mb-10">
      <input class="border border-b block" type="password" v-model="user.password_confirmation" placeholder="Подтвердите пароль" />
      <div v-if="errors.password_confirmation" class="text-red mt-3">{{errors.password_confirmation[0]}}</div>
    </div>
    <div class="mb-10">
      <a class="pl-5 pr-5 pt-2 pb-2 bg-blue" @click.prevent="register()" href="#" >Зарегистрироваться</a>
    </div>
    <div v-if="error" class="text-red">{{error}}</div>
  </div>

</template>

<style scoped>

</style>