<script>
import {useProductStore} from "../../store/product.js";
import { useAuthorStore } from "../../store/author.js";
import shmaxios from "../../api/index.js";

export default {
  data() {
    return{
      productStore: useProductStore(),
      authorStore: useAuthorStore(),
      errors: {},
      images: [],
      imageSources: [],
      dragclass: '',
      snackbar: false
    }
  },
  computed: {
    product() {
      return this.productStore.getProducts.data.filter((el) => el.id === parseInt(this.$route.params.id))[0]
    },
    authors() {
      return this.authorStore.getAuthors
    },
    canSubmit: function () {
      return this.product.title && this.product.price
    }
  },
  methods:{
    updateProduct(){
      shmaxios.post(`/products/${this.product.id}`, {_method: 'put', product: this.product, images: this.images}, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
          .then(res => {
              this.snackbar = true;
              this.productStore.setProducts()
          })
          .catch(res => {
            //console.log(res);
            this.errors = res.response.data.errors
          })
          .finally(res => {

          })
    },
    addImages(e){
      this.product.images = [];
      this.images = e.target.files.length>0 ? e.target.files : [];
      this.previewImages()
    },
    removeImage(index) {
      const dt = new DataTransfer()
      const input = document.getElementById('images')
      const { files } = input

      for (let i = 0; i < files.length; i++) {
        const file = files[i]
        if (index !== i)
          dt.items.add(file) // here you exclude the file. thus removing it.
      }

      this.imageSources = this.imageSources.filter( (el, idx) => idx !== index );
      this.images = input.files = dt.files // Assign the updates list
    },
    deleteImage(id) {
      shmaxios.delete(`/images/${id}`)
          .then(res => {
            this.product.images = this.product.images.filter(el => el.id!==id);
          })
          .catch(res => {

          })
          .finally(res => {

          })
    },
    onUploadEnter(e){
      e.preventDefault()
      e.stopPropagation()
      this.dragclass='bg-yellow-500'
    },
    onUploadDragOver(e){
      e.preventDefault()
      e.stopPropagation()
      this.dragclass='bg-yellow-500'
    },
    onUploadleave(e){
      e.preventDefault()
      e.stopPropagation()
      this.dragclass=''

    },
    onUploadDrop(e) {
      this.dragclass=''
      e.preventDefault()
      e.stopPropagation()
      let dt = e.dataTransfer
      let files = dt.files

      this.handleFiles(files)
    },
    handleFiles(files) {
      const input = document.getElementById('images')
      this.images = input.files =  files

      this.previewImages();
    },
    previewImages() {
      Array.from(this.images).forEach((image, idx) => {
        let reader = new FileReader()
        reader.readAsDataURL(image)
        reader.onloadend  = () => {
          this.imageSources[idx] = reader.result
        }
      });
    }
  },
  mounted() {
    this.authorStore.setAuthors()
  }
}
</script>

<template>
  <v-sheet v-if="product" class="mx-auto" width="300">
    <v-form @submit.prevent>
      <v-text-field
          v-model="product.title"
          label="Название"
      ></v-text-field>
      <v-text-field
          v-model="product.price"
          label="Цена"
      ></v-text-field>
      <v-text-field
          v-model="product.price_with_discount"
          label="Цена со скидкой"
      ></v-text-field>
      <v-textarea
          v-model="product.description"
          label="Описание"
      ></v-textarea>
      <v-select
          v-model="product.author_id"
          :items="authors"
          item-title="full_name"
          item-value="id"
          label="Автор"
      ></v-select>
      <v-card v-if="product.images.length" class="flex flex-wrap">
        <div class="relative mt-4 ml-4"  v-for="image in product.images">
          <img class="h-16" :src="image.url" :alt="product.title">
          <span @click="deleteImage(image.id)" class="absolute top-3 right-3 cursor-pointer">
              <v-icon icon="mdi-close-circle-outline" size="15" class="text-red-500" />
          </span>
        </div>
      </v-card>
      <div>
        <input id="images" @change="addImages" multiple ref="fileInput" type="file" class="hidden"
               accept="image/png, image/gif, image/jpeg, image/webp" />
        <div
            @dragenter="onUploadEnter"
            @dragleave="onUploadleave"
            @dragover="onUploadDragOver"
            @drop="onUploadDrop"
            @click="$refs.fileInput.click()"
            :class="[dragclass, 'shadow-2xl md:mx-auto cursor-pointer']">
          <div class="no-pointer-events text-center py-4 lg:py-4 text-gray-500 dark:text-slate-400">
            <div><b>Перетяните сюда изображения</b><br />
              <small>или нажмите для обзора</small>
            </div>
          </div>
        </div>
      </div>
      <div v-if="images.length">
        <div class="shadow-2xl md:mx-auto">
          <div class="text-center py-4 lg:py-4 text-gray-500 dark:text-slate-400">
            <div v-for="(image, index) in images" class="flex mt-10 justify-between items-center">
              <img :src="imageSources[index]" class="h-16" />
              <span>{{image.name}}({{image.size}} bytes)</span>
              <span @click="removeImage(index)" class="cursor-pointer">
                <v-icon icon="mdi-close-circle-outline" size="15" class="text-red-500" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <v-btn class="mt-2" v-if="canSubmit" @click="updateProduct" color="info" >Редактировать</v-btn>
      <v-btn class="mt-2" v-if="!canSubmit" color="info" style="opacity:0.5" >Редактировать</v-btn>
    </v-form>
    <v-snackbar
        v-model="snackbar"
    >
      Продукт сохранен

      <template v-slot:actions>
        <v-btn
            color="pink"
            variant="text"
            @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-sheet>

</template>

<style scoped>

</style>