<script>
import shmaxios from "../../api/index.js";
import { useProductStore } from "../../store/product.js";
export default {
  data(){
    return {
      productStore: useProductStore(),
      filters: {}
    }
  },
  computed: {
    products() {
      return this.productStore.getProducts
    }
  },
  methods: {
    paginateLink: function (link) {
      if (link.url === null) return 0;
      let matches = link.url.match(/.*?page=(\d+)/);
      return parseInt(matches[1]);
    },
    paginate: function (link) {
      this.filters.page = this.paginateLink(link)
      this.productStore.setProducts(this.filters)
    }
  },
  mounted() {

  }
}
</script>

<template>

  <div>
    <div>
      <router-link class="text-white" to="/products/create" title="Добавить товар">
        <v-icon icon="mdi-plus-circle-outline" size="30" class="text-blue-accent-4" />
      </router-link>
    </div>
    <v-card variant="outlined" class=" mb-10" v-for="product in products.data" text="">
      <v-card-title>{{product.title}}</v-card-title>
      <v-card-subtitle class="text-green font-weight-bold">{{product.price}}</v-card-subtitle>
      <v-card-text>{{product.description_short}}</v-card-text>
      <v-card-actions class="text-right">
        <v-btn :to="`/products/${product.id}`" class="bg-blue-accent-4">
          Просмотр
        </v-btn>
        <v-btn :to="`/products/edit/${product.id}`" class="bg-orange-accent-4">
          Редактировать
        </v-btn>
      </v-card-actions>
    </v-card>

    <div v-if="products.meta && products.meta.links.length > 3" class="p-3 lg:px-6 border-t border-gray-100 dark:border-slate-800">
          <v-btn
              :disabled="paginateLink(page) == 0"
              v-for="page in products.meta.links"
              :active="paginateLink(page) === products.meta.current_page"
              :color="paginateLink(page) === products.meta.current_page ? 'lightDark' : 'whiteDark'"
              v-html="page.label"
              @click="paginate(page)"
          />
        <small>Page {{ products.meta.current_page }} of {{ products.meta.last_page }}</small>
    </div>
  </div>
</template>

<style scoped>

</style>