<script >
import { useProductStore } from "../../store/product.js";
export default {
  data() {
    return{
      productStore: useProductStore()
    }
  },
  computed: {
    product() {
      return this.productStore.getProducts.data.filter((el) => el.id === parseInt(this.$route.params.id))[0]
    }
  },

}
</script>

<template>
    <div>
      <v-card v-if="product" variant="outlined" class=" mb-10" text="">
        <v-card-title>{{product.title}}</v-card-title>
        <v-card-subtitle>{{product.created_at}}</v-card-subtitle>
        <v-card-subtitle class="text-green font-weight-bold">{{product.price}}</v-card-subtitle>
        <v-card-subtitle>{{product.author.name}} {{product.author.last_name}}</v-card-subtitle>
        <v-img v-for="image in product.images" :src="image.url" :alt="product.title" />
        <v-card-text>{{product.description}}</v-card-text>
      </v-card>
    </div>
</template>

<style scoped>

</style>