<script>

import router from "./router/index.js";
import {useProductStore} from "./store/product.js";

export default {
  name: 'App',
  data(){

    return{
      access_token: localStorage.getItem('access_token'),
      productStore: useProductStore()
    }
  },
  methods:{
    updateAccessToken(access_token){
      this.access_token = access_token
    },
    logout(){
      localStorage.removeItem('access_token');
      this.access_token = null
      router.push('/login');
    }
  },
  mounted() {

    this.productStore.setProducts()
    window.addEventListener("accessToken", (event) => {
      this.updateAccessToken(event.detail.access_token);
    });
  }
}
</script>

<template>
  <v-layout class="rounded rounded-md">
    <v-app-bar
        color="grey"
        height="48"
        flat
    ></v-app-bar>
    <v-app-bar
        color="grey-lighten-2"
        height="48"
        location="bottom"
        flat
    >
      <v-footer class="bg-grey-lighten-1">
        <v-row justify="center" no-gutters>
          <v-col class="text-center mt-4" cols="12">
            {{ new Date().getFullYear() }} — <strong>&copy;d1sc0nnect0r</strong>
          </v-col>
        </v-row>
      </v-footer>
    </v-app-bar>
    <v-navigation-drawer
        color="grey-darken-1"
        width="150"
        permanent
        class="pt-5"
    >

      <div v-if="!access_token">
        <router-link class="text-white" to="/login">Логин</router-link>
      </div>
      <div v-if="!access_token">
        <router-link class="text-white" to="/register">Регистрация</router-link>
      </div>
      <div>
        <router-link class="text-white" to="/transactions">Транзакции</router-link>
      </div>
      <div>
        <router-link class="text-white" to="/products">Товары</router-link>
      </div>
      <div v-if="access_token">
        <a class="text-white" @click.prevent="logout()"  href="#">Выйти</a>
      </div>
    </v-navigation-drawer>
    <v-main class="d-flex align-center justify-center" style="min-height: 300px;">
    <router-view/>
    </v-main>

  </v-layout>

</template>

<style scoped>

</style>
